#a{
background-color:pink;
border-style:dotted;
}
#b{
border-style:dashed;
}
#p{
border-style:solid;
}
#q{
border-style:double;
}
#r{
border-style:groove;
}
#s{
border-style:inset;
}
#x{
border-style:dotted;
}
#y{
border-style:solid;
}
#t{
border-style:groove;
}
#v{
border-style:inset;
}
#h1{
color:pink;
font-family:"The times the romen"
}


